@import './variables';

* {box-sizing: border-box;}

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: Montserrat, Helvetica Neue, Helvetica, Arial, "sans-serif";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #F2F4FF;
	color: $black;
	height: 100%;
	
	font-size: 1.35rem;
	letter-spacing: .75px;
	line-height: 1.45;
}

h1 {font-size: 2rem;}
